body{
    background-color: rgb(247, 247, 240);
    margin: auto;
    text-align: center;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(243, 244, 245);

}
h2{
    color: darkcyan;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.titulo{
    border: 3px none ;
    background-color: rgb(62, 116, 133);
    padding: 10px;
}
.paginas:hover{
    background-color: rgb(48, 168, 177);
    
}

header{
    background-color: rgb(240, 236, 236);
    padding: 40px;
    font-weight: bold;
    font-size: 150%;

}
.paginas-boton:hover{
    
    color: aqua;
}
.paginas-boton{
     color: rgb(245, 245, 244);

}
a{
padding: 40px;
}
.galeria{
    display: flex;
    margin: auto;
    background-color: rgb(226, 230, 230);
    gap: 50px;
    
}

