body{
    background-color: rgb(159, 203, 204);
    text-align: center;
}
h2{
    font-size: 60px;
font-family: Tahoma;
border-bottom: 5px solid white ;
letter-spacing: 5px;
margin-left: 80px;
margin-right: 80px;
}
p{
    text-align: justify;
    font-family: 'Times New Roman';
    font-size: 35x;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 60px;
}